.Container {
    width: 100%;

}

.ListBody {
    background-color: blanchedalmond;
    display: flex;
    flex-flow: column;
}
.collapsible {
    width: 60%;
    display: flex;
    flex-flow: column;
    margin: 15px auto;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.collapsible-button {
    width: 100%;
    background-color: rgb(100, 100, 100);
    outline: none;
    border: none;
    color: white;
    font-weight: bold;
    padding: 15px 15px;
    height: 50px;
    margin: 0;
    box-sizing: border-box;
    text-transform: uppercase;
}
.collapsible-button:hover,
.collapsible-button:active,
.collapsible-button.active {
    background-color: rgb(68, 67, 67);
}
.collapsible-data {
    background-color: rgb(223, 223, 223);
    height: auto;
    transition: height 1s;
    transition-timing-function: ease-in-out;
}

.display {
    display: none;
    
}
.collapsible-data p{
    padding: 10px 15px;
    margin: 0;
}


